@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap");
/* -------------------------header----------------------------------------------------- */
header {
  position: sticky;
  top: 0;
  background-color: #605d63;
  margin-bottom: 30px; }

.redeColor {
  color: black; }

.topHeader {
  background-color: rgba(0, 0, 0, 0.05); }

.colorTxtTopHeader p {
  color: black;
  text-align: center;
  text-justify: auto;
  margin-bottom: 0px; }

.rSocial {
  text-align: right; }

.navColor {
  background-color: #605d63; }

.itemNav {
  font-size: 2.5rem; }

.headerContacto {
  width: 80px; }
  .headerContacto img {
    width: 35px;
    height: 35px; }

.buscar {
  border: black; }
  .buscar:hover {
    color: black;
    border: black; }

.centrarLi {
  margin-right: 40px; }

footer {
  background-color: #605d63;
  margin-top: 70px; }

.border-bottom {
  --bs-border-color:#88868a ; }

.text-muted {
  color: black !important;
  --bs-text-opacity: 0; }

.pieContactenos li {
  list-style-type: none; }

.pieContactenos img {
  width: 35px; }

.pieContactenos h3 {
  margin-left: 40px;
  margin-bottom: 15px;
  font-weight: bold; }

.pieSeguinos li {
  list-style-type: none; }

.pieSeguinos img {
  width: 35px; }

.pieSeguinos p {
  margin-top: 40px;
  text-align: end; }

.pieSeguinos ul {
  margin-right: 20px;
  margin-top: 10px; }

.pieSeguinos h3 {
  margin-bottom: 15px;
  font-weight: bold; }

.botonWhatsApp img {
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px; }

.enLinea {
  display: inline-block; }

.botonBuscar {
  all: unset;
  background-color: grey;
  font-size: 1.3rem;
  border-radius: 2px;
  text-decoration: none;
  color: white;
  transition-duration: 10;
  text-align: center;
  width: 130px;
  height: 37px;
  margin-bottom: 15px; }
  .botonBuscar:hover {
    background-color: #878A8D;
    color: white; }
  .botonBuscar a {
    text-decoration: none; }
    .botonBuscar a:visited {
      color: white; }
    .botonBuscar a:link {
      color: white; }

.margen {
  margin-bottom: 15px; }

.botonSuscribe {
  all: unset;
  background-color: grey;
  font-size: 1.3rem;
  border-radius: 2px;
  text-decoration: none;
  color: white;
  transition-duration: 10;
  text-align: center;
  width: 130px;
  height: 37px; }
  .botonSuscribe:hover {
    background-color: #878A8D;
    color: white; }
  .botonSuscribe a {
    text-decoration: none; }
    .botonSuscribe a:visited {
      color: white; }
    .botonSuscribe a:link {
      color: white; }

* {
  padding: 0;
  margin: 0;
  font-family: "EB Garamond"; }

body {
  background-image: linear-gradient(to bottom right, #66696d, #88868a); }

/* ----------------------------------------------------------Main-------------------------------------------- */
main h2 {
  text-transform: uppercase;
  text-align-last: center;
  margin: 40px; }

.prodDest {
  display: flex;
  justify-content: center; }

.destacados {
  margin-top: 50px; }
  .destacados img {
    border-radius: 10px;
    width: 250px;
    margin-right: 50px;
    box-shadow: 2px 2px 10px #464545;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: block; }

.destacados h3 {
  text-align: center; }

.destacados h4 {
  text-align: center; }

.destacados h5 {
  text-align: center; }

.boton {
  all: unset;
  background-color: #605d63;
  font-size: 1.3rem;
  border-radius: 2px;
  text-decoration: none;
  color: white;
  transition-duration: 10;
  text-align: center;
  width: 130px;
  height: 50px; }
  .boton:hover {
    background-color: #A4A1A0;
    color: white; }
  .boton a {
    text-decoration: none; }
    .boton a:visited {
      color: white; }
    .boton a:link {
      color: white; }

.btnBody {
  width: 130px;
  height: 50px;
  font-size: 1.3rem; }

.btnBody a {
  text-decoration: none; }

.btnBody a:visited {
  color: white; }

.btnBody a:link {
  color: white; }

.separacion {
  margin-top: 50px; }

/* -----------------------------Productos----------------------------------------- */
.prodPrin {
  display: flex;
  justify-content: center;
  margin-top: 100px; }

.descrip {
  display: block;
  margin-left: 60px;
  margin-top: 50px; }

.prodPrinImg img {
  border-radius: 10px;
  margin-right: 50px;
  box-shadow: 2px 2px 10px #464545; }

.precio p {
  font-size: 1.4rem; }

.botonProd {
  all: unset;
  background-color: #605d63;
  font-size: 1.3rem;
  border-radius: 2px;
  text-decoration: none;
  color: white;
  transition-duration: 0.4;
  text-align: center;
  width: 130px;
  height: 50px;
  margin-top: 50px; }
  .botonProd:hover {
    background-color: #A4A1A0;
    color: white; }

.prodDescripDos {
  font-size: 1.4rem; }

.prodDescrip {
  display: flex;
  justify-content: center;
  margin-top: 100px; }

/* --------------------------CONTACTO---------------------------------- */
.direccion {
  font-size: 1.5rem; }

.mapa {
  margin-top: 20%; }
