/* -------------------------header----------------------------------------------------- */


header {
    position: sticky;
    top: 0;
    background-color: map-get($colores,heaFot); 
    margin-bottom: 30px;
    
}

.redeColor {
    color:map-get($colores,negro);
}

.topHeader {
    background-color: map-get($colores,copyr);
    }

.colorTxtTopHeader p {
    color:map-get($colores,negro);
    text-align: center;
    text-justify:auto;
    margin-bottom: 0px;
}

.rSocial {
    text-align: right;
}



.navColor {
    background-color: map-get($colores , heaFot );
}


.itemNav {
    font-size: 2.5rem;
}

.headerContacto {
    width: 80px;
        img {
            width: 35px;
            height: 35px;
        }
}

.buscar {
    color: map-get($colores,headFot);
    border: map-get($colores,negro);
        &:hover {
            color: map-get($colores,negro);
            border: map-get($colores,negro);    
        }    
}

.centrarLi {
    margin-right: 40px;
}
