$colores: (
    heaFot: #605d63,
    body: linear-gradient(to bottom right, #66696d, #88868a),
    copyr: rgba(0, 0, 0, 0.05),
    negro: black,
    blanco: white,
);

@mixin fl ($fle, $justify, $margin) {
    display: $fle;
    justify-content: $justify;
    margin-top: $margin;
}
